


/* ============ HEADER ===================================================================================================== */

header
{
display: flex ;
flex-direction: row;
flex-wrap: wrap;
}

#haut{
background-image:url("../images/header.png");
position: relative;
background-size: cover;
background-repeat: no-repeat;
background-position: top center;
width: 100vw;
height: 10vh;
margin-bottom: 0%;

}


#bas1{
background-image: url('../images/Rectangle 4.png');
background-size: cover;
background-repeat: no-repeat;
width: 200%;
height: 40vh;
margin-bottom: 0%;
background-position: bottom center;
position: relative;
color: white;

}

#bas2{
  background-image: url('../images/header2.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 200%;
  height: 40vh;
  margin-bottom: 0%;
  background-position: bottom center;
  position: relative;
  color: white;
}

#bas3{
  background-image: url('../images/header3.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 200%;
  height: 40vh;
  margin-bottom: 0%;
  background-position: bottom center;
  position: relative;
  color: white;
}

nav{
  display: flex;
  flex-direction: row;
  text-align: center ;
  justify-content: space-evenly;
  margin-top: 1%;
  
}

#a{
border-radius: 50%;
background: #45A961;
width: 65px;
height: 65px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

#logo{
  width: 2.7vw;
  min-width: 50px;
  height: 2.7vw;
  min-height: 50px;
  position: relative;
  margin: 6px;
  filter: drop-shadow(0px 4px 4px #383b07);
  
}

.b{
border-radius: 51px;
background: #45A961;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 14vw;
height: 6vh;
justify-content: space-evenly;

display: flex;
align-items: center;

}

@media screen and (max-width: 768px)
{
.b{
    width: 15vw;

}
nav{
    margin-top: 2%;
    margin-bottom: 2%;
}
}


.icone
{
color: white;
display: inline-flex;
align-items: center;
width: 100%;
height: 100%;
column-gap: 0.5vw;
justify-content: center;
container-type: inline-size;
}

.b:hover{
transition: 0.5s;
transform: scale(1.1);
}

.img-icone
{
height: 3vw;
width: 3vw;
min-height: 50px;
min-width: 50px ;
position: relative;
display: inline;

}

.texte-icone
{
display: inline;
}

@container (width < 200px)
{
.texte-icone{
    display: inline;
}
.img-icone{
    display: none;
}
}

@container (width < 120px){
.texte-icone{
    display: none;
}
.img-icone{
    display: inline;
}
}

/* ============ BODY GENERAL ===================================================================================================== */

body{
    margin: 0%;
     background: rgb(162,214,111);
    background: linear-gradient(180deg, rgba(162,214,111,1) 15%, rgba(11,82,66,1) 65%);
    font-family: 'Roboto', sans-serif;
}

.h1
{
    width: fit-content;
    text-align: center;
    padding-bottom: 0.5vw;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 0.5vw;
    color: #222121;
    font-size: larger;
    margin-left: 40%;
    margin-top: 1%; 
    border-radius: 5px 0 10px 0;
    box-shadow:  5px 5px 2px  rgb(32, 32, 32), inset 2px 2px;

    
}

p{
  padding-left: 1vw;
  padding-right: 1vw;

}

.h1:hover{
  transition: 1s;
  transform: scale(1.2);

}

h2,h3 {
  text-align: center;
  margin-left: 1%;


}

h3 {

  font-size: 45px;
}

a{
  text-decoration: none;
  font-size: large;
  color: white;
}

a:visited{
  text-decoration: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #337829 rgb(162,214,111);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgb(162,214,111);
}

*::-webkit-scrollbar-track:hover {
  background-color: rgb(162,214,111);
}

*::-webkit-scrollbar-track:active {
  background-color: rgb(162,214,111);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(11,82,66,1);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(11,82,66,1);
}

*::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}




/* ============ BODY 1 ===================================================================================================== */

#corps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  
  }
  
  #appli{
    margin-left: 12vw;
    margin-right: 5vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
    border-radius: 30px;
    align-self: center;
  }
  
  
  
  
  #gauche1 {
    flex: 1 1 75%;
  
  }
  
  #news {
    flex: 1 1 25%;
    background-color: rgba(248, 248, 255, 0.5);
    border-radius: 40px 0px 0px 40px;
    
  }
  
  #transports {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2%;
  
  }
  
  #velo {
    flex: 1 1 33%;
  
  }
  
  #bus {
    flex: 1 1 33%;
  
  }
  
  #tramway {
    flex: 1 1 33%;
  
  
  }

  #cartes {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
  
  
  }
  
  #restau {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;
  
  }
  
  #cart {
    border-radius: 0px 30px 30px 0px;
    background: #45A961;
    flex: 1 1 55%;
    background-image: url('../images/carte.png');
  
  
  
  }
  
  #Lieux {
    border-radius: 30px 0px 0px 30px;
    background: #45A961;
    flex: 1 1 55%;
    background-image: url('../images/restau.jpg');
  
  }
  
  #text1 {
    flex: 1 1 35%;
    font-size: 30px;
  }
  
  #text2 {
    flex: 1 1 35%;
    font-size: 30px;
  }
  
  .news {
    margin-left: 15%;
  
  }

  .news:hover{
    transition: 0.5s;
    transform: scaleX(1.1);
  }
  
  .text-news {
    font-size: 30px;
    text-align: justify;
    margin-left: 15%;
    margin-right: 27%;
  
  }
  
  .espace {
    flex: 1 1 5%
  }
  
  #info {
    background-color: rgba(248, 248, 255, 0.1);
    border-radius: 0px 50px 0px 50px;
  
  }

  /* ============ BODY 2 ===================================================================================================== */

.bloc_info
{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-left: 6vw;
    margin-right: 6vw;
    border-radius: 30px;
    box-shadow: -5px -5px 8px #000000;;
    background-color: rgba(248, 248, 255, 0.5);
}



.bloc_info:hover{
    box-shadow: 20px 20px 30px #222121,
                -15px -15px 30px #080808;
    transition: 0.5s;
    transform: scale(0.99);
}


.information
{
    margin-top: 4vh;
    margin-left: 5vw;
    margin-right: 8vw;
    margin-bottom: 4vh;
    justify-content: center;
}

.rond{
  margin-left: 2%;
}


#info_velo
{
    width: 10vw;
    height: 10vw;
    margin-top: 10vh;

}

#info_bus
{
    width: 10vw;
    height: 10vw;
    margin-top: 10vh;

}

#info_tram
{
    width: 10vw;
    height: 10vw;
    margin-top: 10vh;

}


.titre{
    text-align: center;

}


#exemple_transport
{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    row-gap: 10%;
    column-gap: 5%;
    justify-content: center;

  }

.transport
{
    width: 30vw;
    margin-top: 5%;
    text-align: center;
    border-radius: 15px;
    border: 3px solid #030303;
    box-shadow: -5px -5px 8px #000000;;
    background-color: rgba(248, 248, 255, 0.5);
    
}

.transport:hover{
  box-shadow: 20px 20px 30px #222121,
              -15px -15px 30px #080808;
  transition: 0.5s;
  transform: scale(1.3);
}

.transp{
  max-width: 100%;
  border-radius: 15px;

}

@media screen and (max-width: 768px) {
    .transport {
        width: 80%; /* Affichage en 1x4 */
    }
}

    /* ============ TABLEAU ============== */


.tftable {
    color:#333333;
    width:80%;
    border-width: 1px;
    border-color: #9dcc7a;
    border-collapse: collapse;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
    margin-top: 5vw;
    align-items: center;
    border-radius: 15px;
    
}

.tftable th {
    font-size:larger;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #9dcc7a;
    text-align:left;
    
}

th:hover
{
    border-color: #333333;
}


.tftable td {
    font-size: larger;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #9dcc7a;

}

td:hover
{
    border-color: #333333;

}


#ligne1{
    background-color:#5c7946;
}

#ligne2{
    background-color:#abd28e;
}

#ligne3{
    background-color:#5c7946;
}

#ligne4{
    background-color:#abd28e;
}

#ligne5{
    background-color:#5c7946;
}

/* ============ BODY 3 ===================================================================================================== */

.texte-page3{
  font-size: larger;
  margin-top: 5vw;
  margin-bottom: 2vw;
  margin-left: 4vw;
  margin-right: 4vw;
  text-align: center;
}


  .img3 {
    border: 1px solid black;
    width: 100%;
    border-radius: 20px;
  }
  
  
  .contient_image {
  
    justify-content: center;
    padding: 0 20%;

  }
  
.contient_image:hover{
  transition: 1.5s;
  transform: scale(1.05);

}

  
  @media only screen and (max-width: 1000px) {
    .contient_image {
      padding: 0
    }
    p{
      font-size: larger;
    }
  
  }
  
  @media only screen and (max-width: 1050px){
  
    #appli{
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    #news{
      width: 100%;
    }
  
  }

/* ============ FOOTER ===================================================================================================== */

footer{
    position: relative;
    background-image: url("../images/hautes_herbes4.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    
    
}

#div-formulaire{
    margin-left: 5vw;
    margin-right: 5vw;
}

 form{
    display: flex;
    flex-direction: column;

}

.align_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.align_BT{
    display: flex;
    flex-direction: row;
    align-items: center ;

}

#BT_sub{
    margin-bottom: 0px;
    margin-left: 100%;
}

.div-input{
    display: flex;
    flex-direction: column;
    
    
}

.div-input label{
    color: white;
}

textarea{
    background: rgba(12, 94, 76, 0.92);
    resize: none;
    height: 7vw;
    width: 55vw;
    border-radius: 10px;
    border: 1px solid #D2C0C0;
}

::placeholder{
    color: #ffffff;
    font-size: medium;
}

@media screen and (max-width: 768px){
    ::placeholder{
        filter: opacity(0); 
        }
    input{
        min-height: 30px;
    }    
}

footer h2{
  color: ghostwhite;
}

input[type="text"]:focus,
textarea:focus {
    color: white; 
}

button{
    height: 10vw;
    width: 10vw;
    max-height: 100px;
    border-radius: 20px;
    background: rgba(162, 214, 111, 0.96);
}

#BT_sub {
  font-size: large;
}

button:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

input{
    height: 2vw;
    min-height: 30px;
    width: 20vw;
    background: rgba(12, 94, 76, 0.92);
    border-radius: 10px;
    border: 1px solid #D2C0C0;
}


img.reseaux{
    height: 3vw;
    width: 3vw;
    margin-top: 2vw;
    margin-right: 2%;
    justify-content: space-between;
    align-items: center;
}

#div-reseaux{
    display: flex;
    flex-direction: row;
    margin-left: 80%;
    gap: 2vw;

}
